.logo-default {
    margin: 19px 10px 0 !important;
}

.table th a {
    color: black;
    text-decoration: none;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle !important;
}

.modal {
    z-index: 10050 !important;
}

a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e113";
}

a.desc:after {
    content: "\e114";
}

th a:hover {
    color: lightslategrey;
}

.modal .modal-header .bootstrap-dialog-title, .modal-title {
    color: #333 !important;
    font-weight: 400 !important;
    font-size: 18px !important;
}

div.alert {
    z-index: 9999999999;
}

.no-underline:hover {
    text-decoration: none
}

.slider-label {
    padding-top: 27px !important;
}

.small-menu a {
    padding: 8px 11px !important;
}

.register-form {
    display: block !important;
}

.top-buffer {
    margin-top: 5px;
}

#user-data .row, #user-access .row {
    padding: 1px 6px;
}

#user-data .row .item-user {
    color: #428bca;
}

#user-data-edit, #user-limit-edit, #user-access-edit {
    cursor: pointer;
}

#user-servers, #all-servers {
    border: 1px solid #eee;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 15px 10px 10px 10px;
    float: left;
    margin-right: 10px;
}
#user-servers li, #all-servers li {
    margin: 0 5px 5px 5px;
}

.ui-sortable-placeholder {
    height: 34px !important;
    background: none !important;
    border: 1px dashed #ddd !important;
}

#user-servers-list ul, #all-servers-list ul{
    min-height: 400px;
}

#user-servers-list li,  #all-servers-list li{
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

/*#user-servers-list .radio,  #all-servers-list .radio{*/
    /*display: inline;*/
/*}*/

#user-servers-list .form-group {
    margin-bottom: 0 !important;
}

#user-servers-list .fa-hdd-o, #all-servers-list .fa-hdd-o{
    font-size: 22px;
}

#useraccess .form-group{
    margin-left: 10px;
}

#useraccess label{
    margin-bottom: 0px !important;
    cursor: pointer;
}

.padding-top-15 {
    padding-top: 15px;
}

.text-left-important {
    text-align: left !important;
}

#user-servers-list label {
    text-transform: none !important;
    margin-bottom: 0px !important;
}

#user-servers-list .mt-radio {
    font-size: inherit !important;
    padding-left: 22px;
}

.mt-checkbox>span, .mt-radio>span  {
    top: 0px !important;
}

#user-servers hr {
    margin-top: 5px !important;
    margin-bottom: 1px !important;

}

